{% extends "inventory/base.html" %}

{% block content %}
    <div id="accordion">
        {% for product in products%}
            <div class="card">
                <div class="card-header" id="heading{{ product.id }}">
                <h5 class="mb-0">
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <img src="{{product.image.url}}" alt="example">                          
                          </div>
                          <div class="col-3">
                             {{product.name}}                         
                          </div>
                          <div class="col">
                            {% for cat in product.category.all %}{{ cat }}{% endfor %}
                          </div>
                          <div class="col">
                            {{ product.selling_price }}
                          </div>
                          <div class="col">
                            {{ product.stock }}
                          </div>
                          <div class="col">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ product.id }}" aria-expanded="true" aria-controls="collapse{{ product.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                  </svg>
                            </button> 
                          </div>
                        </div>
                      </div>
                </h5>
                </div>
                <div id="collapse{{ product.id }}" class="collapse" aria-labelledby="heading{{ product.id }}">
                <div class="card-body">
                  <form class="row g-3">
                    <div class="col-md-4">
                      <label for="inputProductName" class="form-label">Product Name</label>
                      <input type="text" class="form-control" id="inputProductName">
                    </div>
                    <div class="col-md-4">
                      <label for="inputPrice" class="form-label">Price</label>
                      <input type="text" class="form-control" id="inputPrice">
                    </div>
                    <div class="col-md-4">
                      <label for="inputCategory" class="form-label">Category</label>
                      <input type="text" class="form-control" id="inputCategory">
                    </div>
                    <div class="col-md-4">
                      <label for="inputBrandName" class="form-label">Brand Name</label>
                      <input type="text" class="form-control" id="inputBrandName">
                    </div>
                    <div class="col-md-4">
                      <label for="inputCost" class="form-label">Cost</label>
                      <input type="text" class="form-control" id="inputCost">
                    </div>
                    <div class="col-md-4">
                      <label for="inputTags" class="form-label">Tags</label>
                      <input type="text" class="form-control" id="inputTag">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress2" class="form-label">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                      <label for="inputCity" class="form-label">City</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">State</label>
                      <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <label for="inputZip" class="form-label">Zip</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                  </form>                </div>
                </div>
            </div>
        {% endfor %}
      </div>
{% endblock content %}