{% extends "inventory/form_base.html" %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signFormStyle.css' %}">
{% endblock%}
{% block content%}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" id="formCard">
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <h3 class="text-center">Login</h3>
                <div class="form-group">
                    {{ form.username.label_tag }}
                    <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" placeholder="Email">
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" placeholder="Password">
                </div>
                <small class="form-text text-muted"><a href="{% url 'register' %}">Don't have an account yet? Sign Up</a></small>
                <div>
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content%}
