{% extends "inventory/base.html" %}
{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card">
      <div class="card-body">
        {% for field in form %}
          {% if field.name not in available_fields %}
              <button class="btn btn-secondary" onclick="addItemToForm('{{field.name}}')" style="margin:1%" id="btn-{{field.name|lower}}">{{field.label}}</button>
          {% endif %}
        {% endfor %}
      </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row" id="fields">
          {% for field in form %}
              {% if field.name in available_fields %}
                  <div class="col-md-4 mb-4">
                      {{field.label}}
                      {{field}}
                  </div>
              {% endif %}
          {% endfor %}
      </div>
      <input type="submit" class="btn btn-primary" value="Add new Product">
    </form>
    </div>
</div>
</div>
{% endblock content %}
{% block scripts %}
<style>
    fieldset {
  font-family: Montserrat, sans-serif;
  width: 100%;
  height:100%;
  border-radius: 0.5em;
  border: 0.05em solid #ccc;
  background-color: #fff;
  padding:4%;
}
legend {
  font-size: 1.2em;
  color: #333;
  text-align: center;
}
</style>
<script>
function addItemToForm(fieldName) {
    var fieldNameLower = fieldName.toLowerCase();
    var elements = document.getElementById("fields");
    var button = document.getElementById("btn-" + fieldNameLower);

    var xhr = new XMLHttpRequest();
    xhr.open("GET", `/get_field_data/?field_name=${fieldNameLower}`, true);

    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
            var response = JSON.parse(xhr.responseText);
            if (response.success) {
                elements.innerHTML += `<div class="col-md-4 mb-4">
                  <label for="${response.name}" style="margin-bottom:0">
                    ${response.label}
                  </label>
                  <button type="button" class="btn-close" aria-label="Close"></button>
                  <input type="${response.type}"class="form-control" id="${response.id}" name="${response.name}" type="text" placeholder="${response.label}">
                </div>`;
                button.hidden = true;
                /// check if all buton are hidden if yes then hide avaible fields 
            }
        }
    };

    xhr.send();
}
</script>
{% endblock scripts %}