{% extends "inventory/base.html" %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/newProductStyle.css' %}">
{% endblock%}
{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card">
      <div class="card-body">
        {% for field in form %}
          {% if field.name not in available_fields %}
              <button class="btn btn-secondary formBtn" onclick="addItemToForm('{{field.name}}')" id="btn-{{field.name|lower}}">{{field.label}}</button>
          {% endif %}
        {% endfor %}
      </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row" id="fields">
          {% for field in form %}
              {% if field.name in available_fields %}
                  <div class="col-md-4 mb-4">
                      {{field.label}}
                      {{field}}
                  </div>
              {% endif %}
          {% endfor %}
      </div>
      <input type="submit" class="btn btn-primary" value="Add new Product">
    </form>
    </div>
</div>
</div>
{% endblock content %}
{% block scripts %}
  {% load static %}
  <script src="{% static 'js/newProductScript.js' %}"></script>
{% endblock scripts %}